<%= form_for(@driver) do |f| %>

<label for="field1">
  <span>Nome </span>
  <%= f.text_field :name, class:"input-field", placeholder:"Nome do Motorista", required: "true" %>          
</label>

<label for="field1">
  <span>Data de Nascimento</span>
  <%= f.text_field :birth, class:"input-field", type:"date", placeholder:"Ex: 16/01/1900", required: "true" %>
</label>

  <label for="field1">
      <span>CPF</span>
      <%= f.text_field :cpf, class:"input-field", placeholder:"Ex: xxx.xxx.xxx-xx", required: "true" %>
  </label>

  <label for="field1">
      <span>Modelo do carro</span>
      <%= f.text_field :car_model, class:"input-field", placeholder:"Ex: Vectra GT", required: "true" %>
  </label>

  <label for="field1">
      <span>Status</span>
      <%= f.text_field :status, class:"input-field", placeholder:"Ex: Ativo/Inativo", required: "true" %>
  </label>

  <label for="field1">
      <span>Sexo</span>
      <%= f.text_field :sex, class:"input-field", placeholder:"Ex: Masculino/Feminino", required: "true" %>
  </label>


  <label><%= f.submit "Enviar", class: "button" %></label>
  <label><%= link_to t('buttons.back'), drivers_path, class: "button" %></label>
  
  <% end %>